<h2>a bit about BrewsCruise...</h2>
<div class="opaque">
<p>I'm a fan of hot springs. And craft beer. And combining both for an even better time. And I'm betting you might be a fan too.</p>
<p>BrewsCruise is meant to be a community resource for folks like you and I. Simply a list of hot springs in Colorado, for now, maybe more states in the future, anyway, a list of hot springs and important details like latitude, longitude, address, website, and nearby breweries.</p>
<p>If you don't see your favorite soaking spot on the list feel free to add it with the form on the home page! Also, if there's a hot spring with missing info and you're in the know, update its listing and share that knowledge with the rest of us!</p>
</div>