<h2>Hot Springs of Colorado</h2>
<div>
  <label>Add Hot Springs:</label> 
  <input [(ngModel)]="newHotspring.name" placeholder="hot springs name" name="name" />
  <input [(ngModel)]="newHotspring.latitude" placeholder="hot springs latitude" name="latitude" />
  <input [(ngModel)]="newHotspring.longitude" placeholder="hot springs longitude" name="longitude" />
  <input [(ngModel)]="newHotspring.temperature" placeholder="hot springs temperature" name="temperature" />
  <button (click)="createHotspring(newHotspring)">Add</button>
</div>
<div *ngIf="selectedHotspring">
  <h2>
    Show me more about {{selectedHotspring.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div>
<ul class="hotsprings">
  <li *ngFor="let hotspring of hotsprings" (click)="onSelect(hotspring)"
      [class.selected]="hotspring === selectedHotspring">
    <span>{{hotspring.name}}</span>
    <button class="delete"
      (click)="delete(hotspring); $event.stopPropagation()">x</button>
  </li>
</ul>
</div>	