<h2>Hot Springs of Colorado</h2>
<div>
  <label>Add Hot Springs:</label> <input #hotspringsName placeholder="hot springs name" />
  <button (click)="add(hotspringsName.value); hotspringsName.value=''">
    Add
  </button>
</div>
<div *ngIf="selectedHotspring">
  <h2>
    Show me more about {{selectedHotspring.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div>
<ul class="hotsprings">
  <li *ngFor="let hotspring of hotsprings" (click)="onSelect(hotspring)"
      [class.selected]="hotspring === selectedHotspring">
    <span>{{hotspring.name}}</span>
    <button class="delete"
      (click)="delete(hotspring); $event.stopPropagation()">x</button>
  </li>
</ul>
</div>	