<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="mapLat" [longitude]="mapLng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<!-- <div id='map' style='width: 400px; height: 300px;'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicmV0dGIiLCJhIjoiY2o3bTJoamlyMnU3ZDMzbnB5c3BmbXhjaCJ9.tvkVQP1P2eoWjNj4hnQ1qw';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/outdoors-v10',
    center: [-74.50, 40], // starting position [lng, lat]
    zoom: 9 // starting zoom
});
</script> -->